
<html>
  <body>
  	<h2><strong>HI-FIFIXTURES REGISTRATION</strong></h2><br><br>
 	<p>Name: <%= @user['Name'] %><br>
    Email: <%= @user['E-mail'] %><br>
    Message: <%= @user['Message'] %></p>
   
  </body>
</html>