<section>
	<div class="container">
		<!-- Contact Section-->
        <div class="row">
            <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 28.367594, lng: 77.317250};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxfE1evMme9b0aZYArWAzmLjHmxHQnQ7A&callback=initMap">
    </script>
        </div>
<div class="contact" id="contact">
        <div class="wrapper">
                            <h1 class="title">CONTACT US</h1>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                                <div role="form" class="wpcf7" id="wpcf7-f51-o1" lang="en-US" dir="ltr">
<div id="contact-form-view">
  <%= form_for '', url: contact_path do |f| %>
<div class="row">
<div class="col-md-6">
<input type="text" name="Name" value="" size="40" class="form-control" required ="required" placeholder="Name"></span>
</div>
<div class="col-md-6">
<input type="email" name="E-mail" value="" size="40" required="required" class="form-control"  placeholder="E-mail">
</div>
</div>
<div class="row">
<div class="col-md-12">
<textarea name="Message" cols="40" rows="5" class="form-control" placeholder="Message"></textarea>
</div>
</div>
<div class ="row">
    <div class="col-md-12">
<div class="button-wrapper">
<input type="submit" value="Send" class="btn cnt-form-one-submit-bnt">
</div>
</div>
</div>
<% end %></div>
</div>                             </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- End Contact Section-->
	</div>
</section>
