	<section>
		<div class="container">
				<div class="row">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  	<!-- Indicators -->
					    <ol class="carousel-indicators">
						    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						    <li data-target="#myCarousel" data-slide-to="1"></li>
						    <li data-target="#myCarousel" data-slide-to="2"></li>
						    <li data-target="#myCarousel" data-slide-to="3"></li>
					    </ol>

				  		<!-- Wrapper for slides -->
				  		<div id ="desktop-carousel">
						  	<div class="carousel-inner" role="listbox">
							    <div class="item active">
							      <img class="img-block"  src="assets/event/1.jpg">
							    </div>

							    <div class="item">
							      <img class="img-block" src="assets/event/2.jpg">
							    </div>

							    <div class="item">
							      <img class="img-block" src="assets/event/3.jpg">
							    </div>
							    <div class="item">
							      <img class="img-block" src="assets/event/4.jpg">
							    </div>
						 	</div>
						 </div>
					 	<div id="mobile-carousel">
						 	<div class="carousel-inner" role="listbox">
							    <div class="item active">
							      <img class="img-block"  src="assets/event/1-mob.jpg">
							    </div>

							    <div class="item">
							      <img class="img-block" src="assets/event/2-mob.jpg">
							    </div>

							    <div class="item">
							      <img class="img-block" src="assets/event/3-mob.jpg">
							    </div>
							     <div class="item">
							      <img class="img-block" src="assets/event/4-mob.jpg">
							    </div>
						 	</div>
					 	</div>
					</div>
				</div>

<!-- second block -->

	<div id="bck1">	
				<div class="row">
					<div class="business-block">
						<div class="inner-bus-block">
							<p class="cnt-head">Present your business online with Digital Marketing services</p>
							<p class="cnt" >Hi-Fi Fixtures is India’s important makings & providers of supply fixtures and store presentation. For over few years we have obtainable the main in selling display, store gears at the deepest conceivable Charge. We standard a full line of Slat-wall, Slat-Wall fixtures, Web wall pieces and fixtures, Models, Dress Racks, Dress hangers, many other supply fixtures and stockpile display.<br><br>The events range athwart in unlike sectors such as motorized, aviation, nautical, railway, protection and universe. Furthermore, Hi-Fi Fixtures carries invention also in the atomic and vitality sector.<br><br>In operational business sector has nonstop looking for resources that display low concentrations and at the same time decent strength, moral stiffness, respectable abrasion conduct and effect, and are not simply vulnerable to erosion. The information of the motorized and physical features of a substantial is the first step for a precise valuation of the presentation of the workout constituent.<br><br>In inquiry and expansion are often required resources difficult fixtures for the finishing of trials that are not the normal kit for tough machines.<br><br>For over few years now, Hi Fi Fixtures is a spearhead in the industrial of high-tech complex systems and produces. Our valued company has built a hard standing of quality in the business thanks to the worth of our services, the overhaul and courtesy of our business team and the nation of revolution and capability that have definite us from the opening. Customers of all sizes rely on us for their harden building and motorized meeting schemes, among others.<br><br>Hi Fi Fixtures proposals turnkey facilities to its customers including of compound kit constructors. Our expert engineers will work composed with you from the project procedure to the creation’s expansion, industrial, meeting and addition course. Hi Fi Fixtures also proposals particular services such as record management, prototyping and superiority control. The results we deliver are maintained by our progressive processes and brought by our team that works in a thorough and hard manner.Hi-Fi Fixtures Hangers & Fixtures is India’s important makings & Dealers of supply fixtures and stock display.<br><br>Whether you are initial new corporate, trading old fixtures and display or reshaping your store, we can help you, treasure what you requirement. Hi-Fi Fixtures attempts to proposal you whole answers, a great spending knowledge and unpaid service; we cost your corporate and look onward to portion you in the upcoming.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="service-block">
						<div class="inner-ser-block">
							<p class="cnt-head">I would comparable to revenue this occasion to present you to Hi-Fi Fixtures.</p>
							<p class="cnt" >We have been in professional in Faridabad over few years and have had the pleasure of occupied with my familiar firms.<br><br>Our project section included of Designers internal inventors and graphic advertising expert, all working composed to generate a durable trade pictures as well as fixtures industrial for your income. We appreciate how modest the selling market is and have significant it is to endure to grow with the moving times. We also understand that every customer, no stuff, how huge or small has diverse requirements.<br><br>Then, we invitation you to commerce our team specialists; whether you are initial a new store or just makeover, we have renewed and advanced notions just for you for added evidence satisfy contact us. 
							</p>
						</div>
					</div>
				</div>
	</div>


		<!-- 	end second block -->


<!-- third block -->

<h1 class="title">OUR SERVICES</h1>
<div class="row">
    <div class="solution-wrapper col-md-6 col-sm-6 col-xs-12">
        <div class="first solutions-item img-responsive">
                                      
			<ul>
		 	<li>Modular Wall DIsplay System.</li>
		 	<li>Display Gondala's For Garments & Retail Out-Let.</li>
		 	<li>Modular Channel & Bracket Fitting.</li>
		 	<li>Wooden Display System, Cash Counter etc.</li>
			</ul>                            
		</div>
    </div>
    <div class="solution-wrapper col-md-6 col-sm-6 col-xs-12">
        <div class="second solutions-item img-responsive" >
            <ul>
		 	<li>Four Way, Tow Way & Round Browers.</li>
		 	<li>All Type of Measurement Mannequin's.</li>
		 	<li>Grocery Display System.</li>
		 	<li>Modular Wall & Counter System.</li>
 	
			</ul>
		</div>
    </div>
</div>
             
<!-- 	end third block -->
<!-- contact block -->
<div class="cnt" id="contact">
        <div class="wrapper">
                            <h1 class="title">CONTACT US</h1>
                <div class="row">
                   
                        <div class="row">
                 
                               
<div id="contact-form-view">
  <%= form_for '', url: contact_path, id: 'contact-form' do |f| %>
<div class="row">
<div class="col-md-6">
<input type="text" name="Name" value="" size="40" class="form-control" required ="required" placeholder="Name"></span>
</div>
<div class="col-md-6">
<input type="email" name="E-mail" value="" size="40" required="required" class="form-control"  placeholder="E-mail">
</div>
</div>
<div class="row">
<div class="col-md-12">
<textarea name="Message" cols="40" rows="5" class="form-control" placeholder="Message"></textarea>
</div>
</div>
<div class ="row">
	<div class="col-md-12">
<div class="button-wrapper">
<input type="button" value="Send" class="btn cnt-form-one-submit-bnt" id="contact-submit">
</div>
</div>
</div>
<% end %></div>
                           </div>
                        </div>
                    </div>
                </div>
    
    <!-- end contact -->
		</div>
	</section>				

<script type="text/javascript">

</script>