body{
    font-size: 14px;
    font-family: serif;
    font-weight: normal;
    background: #fff;
}
footer{
    font-family: 'Open Sans', arial;
    padding-top: 30px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
    height: 65px;
    line-height: 65px;
    background-color: #e1e1e1;
    -webkit-box-shadow: 0px 3px 7px 3px rgba(48, 48, 48, 0.35);
    -moz-box-shadow: 0px 3px 7px 3px rgba(48, 48, 48, 0.35);
    box-shadow: 0px 3px 7px 3px rgba(48, 48, 48, 0.35);
}
section{
    margin-top: 100px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.n-pad-r-l {
    padding-right: 0;
    padding-left: 0;
}
.right {
    float: right;
}
ol, ul {
    list-style: none;
}
.solutions .solution-wrapper:first-child {
    padding-right: 35px;
}
.solutions-item {
    padding-bottom: 35px;
    padding-left: 80px;
    padding-right: 35px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    color: #444444;
}
.solutions-item li {
    background: url(img/right-tick.png) no-repeat left center;
    padding: 10px 0px 10px 50px;
    list-style: none;
    margin: 0;
    font: 14px / 23px ProximaNovaLight;
}
.solutions-item h3 {
    margin: 25px 0;
    font: 16px / 23px ProximaNovaBold;
}
.title {
    padding: 50px 0 35px;
    color: #444444;
    font: 18px / 23px ProximaNovaBold;
    text-align: center;
    text-transform: uppercase;
}
/*.contact {
    padding-bottom: 60px;
}*/
div.wpcf7 {
    margin: 0;
    padding: 0;
}
div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}
.wpcf7-form-control-wrap {
    position: relative;
}
.cnt input {
    height: 48px;
    margin-bottom: 20px;
}
.cnt input, .cnt textarea {
    padding-left: 20px;
    width: 100%;
    background-color: #f6f6f6;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font: 14px / 21px ProximaNovaLight;
}
.cnt textarea {
    padding-top: 20px;
    margin-bottom: 25px;
    resize: none;
}
.cnt textarea {
    padding-left: 20px;
    width: 100%;
    background-color: #f6f6f6;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font: 14px / 21px ProximaNovaLight;
}
textarea {
    overflow: auto;
}
#map {
        height: 400px;
        width: 100%;
       }


