<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hitech Solution</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
</head>
<body>
<header>
<div class="container">
				<div class="mob-media list-block row">
				  	<div id="mySidenav" class="sidenav mob-color">
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<li class="lav-list">
				          <a href="http://hififixtures.herokuapp.com" title="HITECH PVT. SOLUTION" id="logo" >
				          	<img id="mob-logo" src="assets/img/logo.png" alt="Hififixtures" style="width:150px;height:68px;">
				           </a>
				      	</li>
				        <li class="nav-list"><a href="http://hififixtures.herokuapp.com">HOME</a></li>
						<li class= "nav-list"><a href="products">PRODUCTS</a></li>
						<li class="nav-list"><a href="about">ABOUT US</a></li>
				        <li class="nav-list"><a href="contact">CONTACT US</a></li>
					</div>
					<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
				</div>
				<div class="row header-main hd">
						<div class="row logo-blk">
				          <a href="http://hififixtures.herokuapp.com" title="HITECH PVT. SOLUTION" id="logo" >
				          	<img src="assets/img/logo.png" alt="Hififixtures" style="width:150px;height:68px;">
				          </a>
				           <div class="hdr">
								<ul class="nav nav-tabs">
								<li class=" nav-list" id="hpd"><a href="http://hififixtures.herokuapp.com" title="HITECH PVT SOLUTION">HOME</a></li>
						        <li class="nav-list"><a href="products">PRODUCTS</a></li>
								<li class="nav-list"><a href="about">ABOUT US</a></li>
						        <li class="nav-list"><a href="contact">CONTACT US</a></li>
						    </div>
						      
				      	</div>
						   
				</div>
		</div> 
</header>

<%= yield %>
 <footer>
							<div class="ftr1">
								<div class="row">
									<div class="col-sm-3 ">
										<ul class="contact">
											<h4>Address</h4>
											<li class="cnt-txt"><strong>Address: </strong>B_72/73,1st floor,Rohit house viswakarma colony, M.B.Road(Near ICD.TKD)New Delhi_44.<br>Work Shop Address:-<br>PLOT NO. 48. Ram Sarup Colony Mujesar sec 24 Faridabad. </li>

										</ul>
									</div>
									<div class="col-sm-3">
										<ul class="contact">
											<h4>Help</h4>
												<li><a href="/products">PRODUCTS</a></li>
												<li><a href="/about">ABOUT US</a></li>
												<li><a href="/contact">CONTACT US</a></li>
											</ul>
									</div>
									<div class="col-sm-3">
											<ul class="contact list-block">
												<h4>Contact Us</h4>
												
												<li class="cnt-txt"><strong>Phone: </strong>Dheeraj Sharma +91-9313930841, +91-9953860841</li>
												<li class="cnt-txt">Monu Sharma +91-9996901343</li>
												<li class="cnt-txt"><strong>E-mail: </strong>sharmamonu384@gmail.com</li>
											</ul>
									
									</div>
									<div class="col-sm-3">
											<ul class="social-icons contact">
												<h4>Follow Us</h4>
												<li class="facebook"><a href="https://www.facebook.com/" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Facebook">Facebook</a></li>
												<li class="twitter"><a href="https://www.twitter.com/" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Twitter">Twitter</a></li>
												<li class="googleplus"><a href="https://plus.google.com/117706847987097855722/posts" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Google Plus">Google Plus</a></li>
											</ul>

										
									</div>
								</div>
								<div class="row" id="footer-copyright">
										<div class="span1">
											<a href="/" class="logo">

											</a>
										</div>
										<div class="cpy">
											<p class="center">&copy; Copyright 2017 by HIFI FIXTURES. All Rights Reserved.</p>
										</div>
								</div>
							</div>
</footer>

</body>
</html>
